/* ----------------------------------- Header Component ----------------------------------- */

.header {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.header-body {

   width: 100%;
   height: 100%;
}



.absolute-block {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.header-content {
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 1;
}

.backdrop-box {
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(18px);
}

/* ----------------------------------- end Header Component ----------------------------------- */