
/* 

   ============================= Backgrounds classes ============================= 

*/

/* home page header background image*/
%bg {
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
}
.bg {
   @extend %bg
}

.bg-header-img {
   background-image: url(https://i.postimg.cc/5ybcNcN2/xcategory-0-messaging-png-pagespeed-ic-xt-DYX32am-Y.png);
   background-position: right bottom;

}
/* home page sup header background wave svg*/
.background-wave {
   // background-image: url(../../../images/svg-wave.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

/* header background svg uses in Chatbots, Messaging pages */
.header-bg {
   // background-image: url(../../../images/header-bg.png);
   background-position: center center,0 0;
   background-size: 110% auto;
   background-repeat: no-repeat;
}

/* header background svg uses in Tyr SMS Gateway page */
.header-bg_2 {
   // background-image: url(../../../images/header-bg_2.png);
   background-position: center center,0 0;
   background-size: 110% auto;
   background-repeat: no-repeat;
}


/* background svg boxes pattern uses with class"bg-gray-light" and in Developers header page */
.bg-boxes-pattern {
   // background-image: url(../../images/boxes-bg.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}



/* 

   ============================= end Backgrounds classes ============================= 

*/

