/* 

   ============================= Box shadows =============================
   
*/
/* Box shadows Alias */
.box-shadow {
   box-shadow: $box-shadow;
}

/* Box shadow medium */
.box-shadow-medium {
   box-shadow: $box-shadow-medium;
}
/* Box shadow large */
.box-shadow-large {
   box-shadow: $box-shadow-large;
}
/* Box shadow extra large */
.box-shadow-extra-large {
   box-shadow: $box-shadow-extra-large;
}

/* 

   ============================= end Box shadows =============================
   
*/